<body>
<head>
    <link rel="stylesheet" href="docs-upload.component.css">
</head>
<h1>UPDATE YOUR DIAGONOSIS </h1>
<hr>
<div>
<form>
Case Number:
<input type="number" name="caseno" placeholder="Enter case number">
<br>
  Enter the symptoms:<br>
  Enter Symptom 1:
  <input type="text"name="symptoms1" placeholder="Enter symptom number 1">
  <br>
  Enter Symptom 2:
  <input type="text"name="symptoms2" placeholder="Enter symptom number 2">
  <br>
  Enter Symptom 3:
  <input type="text"name="symptoms3" placeholder="Enter symptom number 3">
  <br>
  Enter Symptom 4:
  <input type="text"name="symptoms4" placeholder="Enter symptom number 4">
  <br>
  Enter Symptom 5:
  <input type="text"name="symptoms5" placeholder="Enter symptom number 5">
  <br>
  <input type="Submit"name="submit_button">

</form>
</div>
</body>